<nav><ol class="flex items-center gap-2"><li><a class="font-medium" href="/">Dashboard /</a></li><li class="font-medium text-primary">Profile</li></ol></nav>
<div style="
width: 98%;
padding-left: 20px;
">
<textarea _ngcontent-adw-c1="" cols="163" name="blog" rows="2" placeholder="Share your thoughts"></textarea>
<input type="text" id="fname" name="fname">
<button type="button" class="btn btn-success" (click)="addPeople()">Add People</button><br/>
<button type="button" class="btn btn-primary">Submit</button>  
<div class = 'add-dist'>
        <app-post-tiles></app-post-tiles>
    </div>
    <div class = 'add-dist'>
        <app-post-tiles></app-post-tiles>
    </div>
    <div class = 'add-dist'>
        <app-post-tiles></app-post-tiles>
    </div>
    <div class = 'add-dist'>
        <app-post-tiles></app-post-tiles>
    </div>
</div>
